$darkShade: #1F2041;
$darkShade75: transparentize($darkShade, 0.25);
$darkShade50: transparentize($darkShade, 0.5);
$darkShade25: transparentize($darkShade, 0.75);
$darkShade5: transparentize($darkShade, 0.95);
$purple: #BC9CFF;
$green: #6FCF97;
$containerSize: 1160px;
