$darkShade: #1F2041;
$darkShade75: transparentize($darkShade, 0.25);
$darkShade50: transparentize($darkShade, 0.5);
$darkShade25: transparentize($darkShade, 0.75);
$darkShade5: transparentize($darkShade, 0.95);
$purple: #BC9CFF;
$green: #6FCF97;
$white: #ffffff;

$containerSize: 1140px;

$textSizeH1: 24px, 29px;
$textSizeH2: 19px, 23px;
$textSizeH3: 12px, 15px;
$textSizeBody: 14px, 24px;
