@import '_variables.scss';


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
  margin: 0;
  padding: 0;
	list-style-type: none;
}

q::after, q::before {
  content: none;
}

picture {
  width: 100%;
  display: inline-block;
  font-size: 0;
  img {
    font-size: 16px;
  }
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  max-width: $containerSize;
  margin: 0 auto;
}

.color-block__color {
  $colors: (
    dark-shade: $darkShade,
    dark-shade75: $darkShade75,
    dark-shade50: $darkShade50,
    dark-shade25: $darkShade25,
    dark-shade5: $darkShade5,
    purple: $purple,
    green: $green,
  );
  width: 100px;
  height: 100px;

  @each $mod, $color in $colors {
    &_#{$mod} {
      background-color: $color;
    }
  }
}
