doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-Kit
  body
    .logo_kit
    h1.visually-hidden UI-kit
    section.colors-and-type
      .container.colors-and-type__inner
        h2.visually-hidden Colors &amp; Type
        img.logo(src=require('./assets/img/svg/logo.svg').default, alt="Логотип")
        include pages/components/color-list.pug
        include pages/components/font-rules.pug
    section.form-elements
      .container.form-elements__inner
        h2.visually-hidden Form Elements
        img.logo(src=require('./assets/img/svg/logo.svg').default, alt="Логотип")
