doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-Kit
  body
    .logo_kit
    h1.visually-hidden UI-kit
    section.colors-and-type
      .container.colors-and-type__inner
        h2.visually-hidden Colors &amp; Type
        img.logo(src=require('./assets/img/svg/logo.svg').default, alt="Логотип")
        include pages/components/color-list.pug
        include pages/components/font-rules.pug
    section.form-elements
      .container.form-elements__inner
        h2.visually-hidden Form Elements
        img.logo(src=require('./assets/img/svg/logo.svg').default, alt="Логотип")
        section.fields
          label.text-input
            span.text-input__descr
              span.text-input__name Text Field
              span.text-input__prop Default
            input.text-input__field(type="text" placeholder="Email")
          label.text-input
            span.text-input__descr
              span.text-input__name Text Field
              span.text-input__prop Hover / Focus
            input.text-input__field.text-input__field_focus(type="text" value="This is pretty awesome")
          include pages/components/dropdown.pug
        section.bool-inputs Checkboxs, RadioButtons
        section.buttons Buttons, Links, Range
